{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block contents %}


<h1 class="text-center">Bienvenue {{app.user.Username}} !</h1>
<h2 class="text-center">Espace membre</h2>
<hr>
- <a href="{{path('account_password')}}">Changer votre mot de passe</a>
</hr>
{% endblock %}
