{% extends 'base.html.twig' %}
{% use 'includes/include.html.twig' %}




{% block title %}Bienvenue sur My 8eers{% endblock %}

{% block contents %}
    {{block('notification')}}

<div class="container">
    <h1 class="text-center">Bienvenue sur My 8eers</h1>
    <div class="row">
        <div class="col-6 mt-3">
            <div class="card rounded" style = "height:300px">
                <div class="card-body">
                    <h5 class="card-title">Ma brasserie</h5>
                    <p class="card-text">Admirez votre brasserie. Continuez votre brassage en cours ! Quels sont vos projets? Quelles bières avez vous brassées? Qu'en pensez vous?</p>
                    <a href="{{path('indexBiere')}}" class="{{buttonShape}}  ">Ma brasserie</a>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card rounded" style = "height:300px">
                <div class="card-body">
                    <h5 class="card-title">Les recettes existantes</h5>
                    <p class="card-text">Parcourez les recettes en base. Celles que vous avez déjà brassées ou d'autres. Elles sont classées par type de bière. N'hésitez pas à les réutiliser pour brasser une nouvelle bière.</p>
                    <a href="#" class="{{buttonShape}} disabled">Recettes existantes</a>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card rounded" style = "height:300px">
                <div class="card-body">
                    <h5 class="card-title">Mes stocks</h5>
                    <p class="card-text">Gérez vos stocks de matières premières, de consommables, ...</p>
                    <a href="{{path('indexStock')}}" class="{{buttonShape}}">Mes stocks</a>
                </div>
            </div>
        </div>                
    </div>    
</div>
       
{% endblock %}