{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur My 8eers{% endblock %}

{% block contents %}
    <h1 class="text-center">Choisissez votre recette</h1>
    <div class="row">
        <div class="col-6 mt-3">
        {# <div class="card" style="width: 18rem;"> #}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Votre recette</h5>
                    <p class="card-text">Elaborez votre recette ou recopiez là de quelque part.</p>
                    <a href="{{path('indexIngredients', {'biereId', biere.id})}}" class="btn btn-success">Votre recette</a>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Une recette existante</h5>
                    <p class="card-text">Refaites une de vos bière ou repenez une recette en base</p>
                    <a href="#" class="btn btn-success">Recette existante</a>
                </div>
            </div>
        </div>        
    </div>
       
{% endblock %}
