{% extends 'base.html.twig' %}
{% use 'includes/include.html.twig' %}

{% block enTete %}
<div class = "row mt-3">
    <h1>La recette</h1>
</div>
{% endblock %}

{% block ajouterLink %}
    {% if form is not defined and biere.state < 1 %}
        &nbsp;(<a name="ajouterLink" href="{{ path('addIngredient', {'ingredientType' : header.nom, 'biereId':biere.id}) }}" id="ajouterLink">
            Ajouter
        </a>)
    {% endif %}
{% endblock %}

{% block modifierLink %}
    {% if form is not defined and biere.state < 1 %}
        <a href="{{ path("volFinalPrevu", {'biereId' : biere.id}) }}">Définir</a>
    {% endif %} 
{% endblock %}


{% block volumePrevu %}
    <div class="card mt-2 row mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start align-items-center">
                    <h3>Le volume prévu de ma bière</h3>
{% if form is defined and param == 'volFinalPrevu' %}
                    <div>
                        &nbsp;- (en litres)
                    </div>
                </div>
                {{ form_start (form)}}
                    <div class="card-text d-flex justify-content-end mt-1">
                        {{form_widget(form.volFinalPrevu)}}
                        <a href = "{{path('indexIngredients', {'biereId' : biere.id })}}" class = "btn btn-outline-success mx-1">Annuler</a>
                        {# {{form_widget(form.annuler)}} #}
                        {{form_widget(form.valider)}} 
                    </div>
                {{ form_end (form)}}
{% else %}
                    <h3>:&nbsp;
                    {% if biere.volFinalPrevu != null %}
                        {{ biere.volFinalPrevu}} litres</h3>&nbsp;(<a href="{{ path("volFinalPrevu", {'biereId' : biere.id}) }}">Modifier</a>)
                    {% else %}
                        </h3>(<a href="{{ path("volFinalPrevu", {'biereId' : biere.id}) }}">Définir</a>)
                    {% endif %}
                </div>
{% endif %}
            </div>                        
        </div>
    </div>


    {# <div class = "row mt-3">
        <div class="BiereId" id="biereId" data-biereId = {{ biere.id }}></div>    
        <h2 id = "titre1" class ="text-center">Le volume final de ma bière</h2>
        <div class="d-flex justify-content-start align-items-center">
                Le volume de ma bière sera de {{ biere.volFinalPrevu }} litres</em>.            
                {{block('modifierLink')}}
        </div>
    </div> #}
{% endblock %}

{# {% block saveIngredients %}
    <div class = "row mt-3">
        <div class="d-flex justify-content-end">
            {% if biere.state == 0 %}
                <a class="btn btn-outline-success" href = "{{path('retrieveFromStock', {'biereId':biere.id})}}">Décompter les ingrédients du stock</a>
            {% else %}
                <a class="btn btn-outline-success mx-1" href = "{{path('replaceInStock', {'biereId':biere.id})}}">Remettre dans le stock</a>
                <a class="btn btn-outline-success mx-1" href = "{{path('brassageFwd', {'biereId':biere.id, 'stateView': 0 })}}">Commencer à brasser</a>
            {% endif %}
        </div>
    </div>
{% endblock %} #}

{% block actionButton %}
    {% if form is not defined and biere.state < 1 %}
        <div name = "actionCell" class ="dropdown d-flex justify-content-end" style = "visibility: {% if biere.state >= 1 %}hidden{% else %}visible{% endif %}">
                <div id ="actionDropdown" class ="dropdown flex-fill">
                    <button type ="button" class ="btn btn-outline-success btn-sm dropdown-toggle" data-bs-toggle ="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                        <li>
                            <a type="button" class="dropdown-item" href="{{ path("modifyIngredient", { 'biereId':biere.id,'ingredientId':data.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a type="button" class="dropdown-item" href="{{ path("removeIngredient", { 'biereId':biere.id,'ingredientId':data.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </div>
            </div>
    {% endif %}
{% endblock %}

{% block listIngredients %}
    <div class = "row mt-3">
        {% for header in headers %}
            <div class="card mt-2">
                {% set datas = ingredients[header.nom] %}
                <div class="card-title d-flex justify-content-start align-items-center mt-1">
                    <h3>Les {{ header.nom |lower }}s</h3>
                    {{block('ajouterLink')}}                
                </div>    
                {% if datas | length == 0 %}
                    <p class="card-text text-center">Il n'y a pas de {{header.nom|lower}} pour cette bière</p>
                {% else %}
                <div class = "card-text">
                    {% set button = false %}
                    {{block('tableau')}}
                </div>            
                {% endif %}  
            </div>
        {% endfor %}
    </div>
    {# <div class = "row mt-3">
        <h2 id = "titre2" class ="text-center">Les ingrédients de ma bière</h2>
        {% for header in headers %}
            {% set datas = ingredients[header.nom] %}
            <div class="d-flex justify-content-start align-items-center mt-5">
                <h3 >Les {{ header.nom |lower }}s</h3>
                {{block('ajouterLink')}}                
            </div>    
            {% if datas | length == 0 %}
                <p>Il n'y a pas de {{header.nom|lower}} pour cette bière</p>
            {% else %}
                {% set button = true %}
                {{block('tableau')}}            
            {% endif %}
        {% endfor %}
    </div> #}
{% endblock %}

{% block cancelButton %}
    <a class="mx-1 btn btn-outline-success" href="{{path('indexIngredients', {'biereId':biere.id})}}">Annuler</a>
{% endblock %}

{% block formulaire %}
    {% if form is defined and param is not defined %}
    {% set header = headers[ingredient.typeIngredient] %}
        <div class = "row justify-content-center mt-3">
            <div class="text-center" >
                <h2>{% if ingredient.id == null %}Ajouter{% else %}Modifier{% endif %}{% if ingredient.typeIngredient == 'Levure' %}&nbsp;une{% else %}&nbsp;un{% endif %}&nbsp;{{ingredient.typeIngredient|lower}}</h2>
                {{form_start(form)}}
                    {% if form.stock is defined %}{{form_row(form.stock)}}{% endif %}
                    {{form_row(form.quantite)}}
                    {% if form.tempsEbullition is defined %}{{form_row(form.tempsEbullition)}}{% endif %}
                    <div class="d-flex justify-content-center mt-2">
                        {{block('cancelButton')}}
                        <div class="mx-1">{{ form_row(form.valider)}}</div>
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block resumeBiere %}
    <div class = "row mt-3 text-end">
        <h1>{{biere.nom}}</h1>
        <p>
        Type: {{biere.type}}<br>
        Description: {{biere.description}}<br>
        Date du projet: {{ biere.dateAjout | date("d/m/Y") }}<br>
    </div>
{% endblock %}


{% block contentsCenter %}
    {{block('notification')}}
    {{block('enTete')}}
    {{block('volumePrevu')}}
    {{block('listIngredients')}}
{% endblock %}

{% block contentsLeft %}  
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href = "{{path('indexBiere')}}">Liste des bières</a>
        </li>
        {% if biere.state < 1 and form is not defined %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href = "{{path('retrieveFromStock', {'biereId':biere.id})}}">Décompter les ingrédients du stock</a>
            </li>        
        {% elseif biere.state > 1 and form is not defined %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href = "{{path('replaceInStock', {'biereId':biere.id})}}">Remettre dans le stock</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href = "{{path('brassageFwd', {'biereId':biere.id, 'stateView': 0 })}}">Commencer à brasser</a>
            </li>        
        {% endif %}
    </ul>
{% endblock %}

{% block contentsRight %}
    {{block('resumeBiere')}}
    {{block('formulaire')}}            
{% endblock %}


{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <div class="row d-flex justify-content-center gx-5">
        <div class="col-lg-2">
            <div class= "p-2">
                {% if block('contentsLeft') is defined %}
                    {{ block('contentsLeft')}}
                {% endif %}
            </div>
        </div>        
        <div class="col-lg-7">
            <div class= "p-2">
                {% if block('contentsCenter') is defined %}
                    {{ block('contentsCenter')}}
                {% endif %}
            </div>
        </div>        
        <div class="col-lg-3">
            <div class= "p-2">
                {% if block('contentsRight') is defined %}
                    {{ block('contentsRight')}}
                {% endif %}
            </div>
        </div>        
    </div>
{% endblock %}