{% extends 'base.html.twig' %}
{% use 'includes/include.html.twig' %}


{% block title %}Mes bières{% endblock %}

{% block tableau %}
    {% if items|length == 0 %}
        <p class = "text-center">Vous n'avez pas de bière {{ titleList }} enregistrée</p>
    {% else %}
        <table class="table table-sm table-striped mt-3 " id ="tableTypesBiere">
            <thead>
                <tr scope = "row" class="d-flex ">            
                    <th width = "20%">Nom</th>
                    <th width = "20%">Type</th>
                    <th width = "30%">Description</th>
                    <th width = "10%">Date d'ajout</th>
                    <th width = "20%" class="flex-fill text-right"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}        
                <tr id ="ligne{{item.id}}" class="d-flex " data-ligne={{item.id}}>
                    <td width = "20%" scope="row">{{ item.nom }}</td>
                    <td width = "20%" scope="row">{{ item.type }}</td>
                    <td width = "30%" scope="row">{{ item.description }}</td>
                    <td width = "10%" scope="row">{{ item.dateAjout | date("d/m/Y") }}</td>
                    {% if biere is not defined %}
                        <td width = "20%" class="flex-fill text-right">
                            <a class="btn btn-outline-success dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Action</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                {% if items == bieresEnProjet %}
                                    <li><a class="dropdown-item" href="{{ path('modifyBiere', {'id' : item.id}) }}">Modifier</a></li>
                                    <li><a class="dropdown-item" href="{{ path('removeBiere', {'id' : item.id}) }}">Supprimer</a></li>
                                    {# <li><a class="dropdown-item" href="{{ path("indexIngredients", {'biereId':item.id}) }}">Etablir/Vérifier sa recette</a></li> #}
                                    <li><a class="dropdown-item" href="{{ path("brassageContinue", {'biereId':item.id, 'stateView' : 0}) }}">Etablir/Vérifier sa recette</a></li>
                                    {% if item.state == 1 %}
                                        <li><a class="dropdown-item" href="{{ path("brassageContinue", {'biereId':item.id, 'stateView' : 1}) }}">Commencer le brassage</a></li>
                                    {% endif %}
                                {% elseif items == bieresBrassees %}
                                    <li><a class="dropdown-item" href="{{ path("brassageContinue", {'biereId':item.id, 'stateView' : 7}) }}">Fiche bière</a></li>
                                    <li><a class="dropdown-item" href="#">Allez, la même !</a></li>
                                    <li><a class="dropdown-item" href="#">Presque la même !</a></li>
                                    <li><a class="dropdown-item" href="#">Dégustez</a></li>
                                {% elseif items == bieresEnCours %}
                                    <li><a class="dropdown-item" href="{{ path("brassageContinue", {'biereId':item.id, 'stateView' : item.state}) }}">Continuer le brassage</a></li>
                                    <li><a class="dropdown-item" href="{{ path("brassageStop", {'biereId':item.id}) }}">Arrêter le brassage!</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %} 
{% endblock %}

{% block formulaire %}
 <h3 class ="mt-5" >La bière que vous voulez {% if biere is defined and biere.id == null %} ajouter {% else %} modfier {% endif %}</h3>
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.type) }}
            {{ form_row(form.description) }}
            <div class="d-flex justify-content-end">    
                <div class="mx-1 ">{{ form_row(form.annuler) }}</div>            
                <div class="mx-1 ">{{ form_row(form.valider) }}</div>
            </div>
        {{form_end(form)}}
        <hr>
{% endblock %}

{% block contentsCenter %}
    {{block('notification')}}
    
    <h1 class="text-center">Ma brasserie</h1>    
   
    {% if form is defined %}
        {{ block('formulaire')}}
    {% endif %}
        
    {% set titleList = 'en projet' %}
    <div class="d-flex justify-content-start align-items-center mt-5">
        {% if form is defined %}
            <h3 >Les autres bières déjà {{ titleList }}</h3>
        {% else %}
            <h3 >Mes bières {{ titleList }}</h3>
            <div  class='mx-3'>
                <a name="ajouterLink" href="{{ path('addBiere') }}" id="ajouterLink">
                    Ajouter
                </a>
            </div>
        {% endif %}
    </div>
    {% if bieresEnProjet is defined %}
        {% set items = bieresEnProjet %}
        {{ block('tableau')}}
    {% endif %}
    
    {% set titleList = 'en cours de brassage' %}
    <h3 >Mes bières {{ titleList }}</h3>
    {% if bieresEnCours is defined%}
        {% set items = bieresEnCours %}
        {{ block('tableau')}}                
    {% endif %}
    
    {% set titleList = 'déjà brassées' %}
    <h3 >Mes bières {{ titleList }}</h3>
    {% if bieresBrassees is defined %}
        {% set items = bieresBrassees %}
        {{ block('tableau')}}
    {% endif %}
{% endblock %}

{% block contentsLeft %}
    {% if brassageParam is defined %}
        {% for param in brassageParam %}
            {{param.nomTransition}}
            {{param.nomEtape}}
            {% for parametre in param.parametresTransition %}
                {{parametre.nomVariable}}
                {{parametre.unite}}</br>
            {% endfor %}
        {% endfor %}
    {% endif %}  
{% endblock %}

{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2">
            {% if block('contentsLeft') is defined %}
                {{ block('contentsLeft')}}
            {% endif %}
        </div>        
        <div class="col-lg-8">
            {% if block('contentsCenter') is defined %}
                {{ block('contentsCenter')}}
            {% endif %}
        </div>        
        <div class="col-lg-2">
            {% if block('contentsRight') is defined %}
                {{ block('contentsRight')}}
            {% endif %}
        </div>        
    </div>
{% endblock %}
