{% extends 'base.html.twig' %}
{% use 'biere/include.html.twig' %}
{% use 'includes/include.html.twig' %}

{% block title %}Brassage de ma bière{% endblock %}

{% block contents %}
    {% set stateView = app.session.get('stateView') %}

    <div class="row d-flex justify-content-center gx-2">
        <div class="col-lg-2">
            <div class= "p-2">
                {% if block('contentsLeft') is defined %}
                    {{ block('contentsLeft')}}
                {% endif %}
            </div>
        </div>        
        <div class="col-lg-7">
            <div class= "p-2">
                {{block('notificationBrassage')}}
                {% if block('contentsCenter') is defined %}
                    {{ block('contentsCenter')}}
                {% endif %}
            </div>
        </div>        
        <div class="col-lg-3">
            <div class= "p-2">
                {% if block('contentsRight') is defined %}
                    {{ block('contentsRight')}}
                {% endif %}
            </div>
        </div>        
    </div>
{% endblock %}

