{% block notificationBrassage %}
    {% if message is defined and message != null %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ message.notification|nl2br }}
                        {% if notificationButtons is defined %}
                            {{block('buttonBlock')}}    {# block dans includes/include.html.twig #}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block tableauPalier %}
<div class ="card mt-2">
    <div class="card-body row d-flex justify-content-between align-items-center">
        <div class="card-title d-flex justify-content-between align-items-center mt-3">
            <h3>Les paliers de brassage</h3>
            {% if form is not defined and biere.state < 3 %}
                <div  class='mx-3'>
                    {# &nbsp;(<a href ="{{ path('palierAdd' , {"biereId" : biere.id, 'stateView' : stateView})}}"> #}
                    &nbsp;<a href ="{{ path('palierAdd' , {"biereId" : biere.id})}}">
                        Ajouter
                    </a>
                </div>
            {% endif %}
        </div>
        {% if paliers | length == 0 %}
                <p class = "text-center">Vous n'avez pas saisi de palier</p>
        {% else %}
            <table class ='table table-sm table-striped' id ="tableIngredients">
                <thead>
                    <tr scope = "row" class="d-flex">
                        <th width="20%">Numéro de palier</th>
                        <th width="20%">Température en °C</th>
                        <th width="20%">Temps en mn</th>
                        <th width="20%"></th>
                        <th width="20%"></th>                
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for palier in paliers %}
                        {% set i = i+1 %}
                        <tr class="d-flex">
                            <td width="20%">{{ i }}</td>
                            <td width="20%">{{ palier.temperature }}</td>
                            <td width="20%">{{ palier.temps }}</td>
                            {# <td width="20%">{% if stateView !=7 %}<a href ="{{ path('palierModify' , {"biereId" : biere.id, "palierId" : palier.id, 'stateView' : stateView})}}">Modifier</a>{% endif %}</td> #}
                            <td width="20%">{% if stateView !=7 %}<a href ="{{ path('palierModify' , {"biereId" : biere.id, "palierId" : palier.id})}}">Modifier</a>{% endif %}</td>
                            {# <td width="20%">{% if stateView !=7 %}<a href ="{{ path('palierRemove' , {"biereId" : biere.id, "palierId" : palier.id, 'stateView' : stateView})}}">Retirer</a>{% endif %}</td> #}
                            <td width="20%">{% if stateView !=7 %}<a href ="{{ path('palierRemove' , {"biereId" : biere.id, "palierId" : palier.id})}}">Retirer</a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% if form is defined and variable.nom == "Paliers" %}
                        <tr>
                            {{ form_start(form)}}
                            <td width="20%">{{ i+1 }}</td>
                            <td width="20%">{{ form_widget(form.temperature) }}</td>
                            <td width="20%">{{ form_widget(form.temps) }}</td>
                            <td width="20%">{{ form_widget(form.annuler) }}</td>
                            <td width="20%">{{ form_widget(form.valider) }}</td>
                            {{ form_end(form) }}
                        </tr>
                    {% endif %}                          
                </tbody>
            </table>
        {% endif %} 
    </div>
</div>
{% endblock %}

{% block listeIngredients %}
    {% set datas = ingredients[header.nom] %}
    
    {% if form is defined and header.nom == parametre and information == false %}                   
        {{ form_start(form)}}
            {{form_row(form.stock)}}
            {{form_row(form.quantite)}}
            {% if form.tempsEbullition is defined %}
                {{form_row(form.tempsEbullition)}}
            {% endif %}                                
            <div class="d-flex justify-content-center mt-2">
                <a class="mx-1 btn btn-outline-success" href="{{path('brassageEtape', {'biereId':biere.id})}}">
                    Annuler
                </a>
                <div class="mx-1">
                    {{ form_row(form.valider)}}
                </div>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form)}}
    {% endif %}

    {% if datas | length == 0 %}
        <p class="card-text text-center">Il n'y a pas de {{header.nom|lower}} pour cette bière</p>                        
    {% else %}
        <ul>                                           
            {% for data in datas %}                    
                <li>
                    <div class="d-flex justify-content-between">
                        {{data.quantite}}
                        {% if data.nom == "grain" %}
                            kg
                        {% else %}
                            g
                        {% endif %}
                        de {{data.nom}}
                        {% if header.nom == "houblon" or header.nom == "additif" %}
                            - Temps d'ébullition de {{data.tempsEbullition}}mn.
                        {% else %}
                            .
                        {% endif %}
                        {% if form is not defined and information == false and (
                            biere.state <= 2 and header.nom == "grain" or 
                            biere.state <= 4 and header.nom == "houblon" or 
                            biere.state <= 4 and header.nom == "additif" or 
                            biere.state <= 5 and header.nom == "levure"
                        ) %}   
                            <div name = "actionCell" class ="dropdown d-flex justify-content-end" style = "visibility: {% if biere.state >= 1 %}hidden{% else %}visible{% endif %}">
                                <div id ="actionDropdown" class ="dropdown flex-fill">
                                    <button type ="button" class ="btn btn-outline-success btn-sm dropdown-toggle" data-bs-toggle ="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                                        <li>
                                            <a type="button" class="dropdown-item" href="{{ path("modifyIngredient", { 'id':data.id }) }}">Modifier</a>
                                        </li>
                                        <li>
                                            <a type="button" class="dropdown-item" href="{{ path("removeIngredient", { 'id':data.id }) }}">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {# {{ block('actionButton') }}                     #}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}



{% block cardIngredients %}
<div class="card" {% if height is defined  %}style ="height : {{height}}px"{% endif %} >
    {% set datas = ingredients[header.nom] %}
    <div class="card-body row d-flex justify-content-between align-items-baseline">
        <div class="card-title d-flex align-items-center mt-1">
            <h3>Les {{ header.nom |lower }}s</h3>
            {% if form is not defined and information == false and (
                header.nom == "grain" and stateView <=2 or 
                stateView <= 4 and header.nom == "houblon" or 
                stateView <= 4 and header.nom == "additif" or 
                stateView <= 5  and header.nom == "levure") %}
                {# &nbsp;(<a href="{{ path('addIngredient', {'ingredientType' : header.nom, 'biereId':biere.id, 'stateView' : stateView}) }}"> #}
                &nbsp;(<a href="{{ path('addIngredient', {'ingredientType' : header.nom, 'biereId':biere.id}) }}">
                    Ajouter
                </a>)
            {% endif %}               
        </div>                     
        {% if form is defined and header.nom == parametre and information == false %}                   
            <div class = "card-text">
                {{ form_start(form)}}
                    {{form_row(form.stock)}}
                    {{form_row(form.quantite)}}
                    {% if form.tempsEbullition is defined %}
                        {{form_row(form.tempsEbullition)}}
                    {% endif %}                                
                    <div class="d-flex justify-content-center mt-2">
                        <a class="mx-1 btn btn-outline-success" href="{{path('brassageEtape', {'biereId':biere.id})}}">Annuler</a>
                        <div class="mx-1">{{ form_row(form.valider)}}</div>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form)}}
            </div>
            {# <hr class = "mt-2">                         #}
        {% endif %}  
        {% if datas | length == 0 %}
            {# {% if form is not defined and header.nom == parametre.nom %} #}
                <p class="card-text text-center">Il n'y a pas de {{header.nom|lower}} pour cette bière</p>                        
            {# {% endif %}  #}
            
        {% else %}
            <div class = "card-text d-flex"> 
            {% if form is not defined and information == false and (
                biere.state <= 2 and header.nom == "grain" or 
                biere.state <= 4 and header.nom == "houblon" or 
                biere.state <= 4 and header.nom == "additif" or 
                biere.state <= 5 and header.nom == "levure"
            ) %}   
                {% set button = true %}
            {% else %}
                {% set button = false %}
            {% endif %}                                                   
                {{block('tableau')}}
            </div>            
        {% endif %}  
    </div>
</div>    
{% endblock %}

{% block tableauxIngredients %}
    {# <div class = "row mt-3"> #}
    <div class="container">
        <div class="row mt-2">
            {% for header in headers %}
                <div class="col-6 p-1">
                    {% set height = 300 %}
                    {{block('cardIngredients')}}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block tableauxIngredientsRight %}
        {% for header in headers %}
            <strong style = "width:25%"> Les {{ header.nom |lower }}s</strong>
            {% if form is not defined and information == false and (
                biere.state <= 2 and header.nom == "grain" or 
                biere.state <= 4 and header.nom == "houblon" or 
                biere.state <= 4 and header.nom == "additif" or 
                biere.state <= 5 and header.nom == "levure"
            ) %}            
                <a href="{{ path('addIngredient', {'ingredientType' : header.nom, 'biereId':biere.id}) }}">
                    Ajouter
                </a>
            {% endif %}
            {{block('listeIngredients')}}
        {% endfor %}
{% endblock %}

{% block nextButton %}
    {% if stateView < 7 %}
        <a class='btn btn-success rounded' style = "width:200px" href={{path('brassageValidate', {'biereId': biere.id})}}>{{brassageParam[stateView + 1].nom}} >></a>
    {% endif %}
{% endblock %}

{% block descriptionBiere %}
    <div class = "row mt-3 text-{{alignement}}">
        {# {# <div class ="card" style = "width:100%;"> #}
            <h1 class = "card-title">{{biere.nom}}</h1>
            <p class = "card-text">
                Type: {{biere.type}}<br>
                Description: {{biere.description}}<br>
                Date du projet: {{ biere.dateAjout | date("d/m/Y") }}<br>
                {% if biere.state > 0 %}
                    Volume final prévu: {{biere.volFinalPrevu}} litres
                {% endif %} 
            </p>
        {# </div> #}
    </div>
    {% if stateView > 1 %}
    <div class="row mt-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-body fs-3 text-body " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ingrédients réellement utilisés            </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% set ingredients, information, item = ingredientsReels, false, "Ingredient" %}
                    {{ block ('tableauxIngredientsRight')}}            </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button bg-body collapsed fs-3 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ingrédients initialement prévus
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% set ingredients, information, item = ingredientsPrevus, true, "Ingredient" %}
                    {{ block ('tableauxIngredientsRight')}}            
                </div>
                </div>
            </div>        
        </div>
    </div>        
   
{#         
        
        
        <h3>Ingrédients initialement utilisés</h3>
        {% set ingredients, information, item = ingredientsReels, false, "Ingredient" %}
        {{ block ('tableauxIngredientsRight')}}
        
        <h3>Ingrédients initialement prévus</h3>
        {% set ingredients, information, item = ingredientsPrevus, true, "Ingredient" %}
        {{ block ('tableauxIngredientsRight')}} #}
        
    {% endif %}
    
{% endblock %}

{% block resumeBiere %}
    <div class = "row mt-3 text-center">
        <h1>{{biere.nom}}</h1>
        <p>
            Type: {{biere.type}}<br>
            Description: {{biere.description}}<br>
            Date du projet: {{ biere.dateAjout | date("d/m/Y") }}<br>
            Volume final prévu: {{biere.volFinalPrevu}}
        </p>
    </div>
    {% set alignement, ingredients = "center", ingredientsPrevus %}
    {{ block ('tableauxIngredients')}}
    
{% endblock %}

{% block debutBrassage %}
    {% if biere.state < 1 %}
        <p class="alert alert-danger">Votre bière n'est pas prète à être brassée</p>
        <p>
            Avez vous défini vos ingrédients et les avez vous retirés de votre stock?<br>
            Avez vous défini le volume de bière souhaité?<br>
            <a href={{path('indexBiere')}}>Retourner à la liste de mes bière</a>
        </p>
    {% else %}
        {% set alignement = "center" %}
        {{ block ('descriptionBiere') }}        
    {% endif %}
{% endblock %}

{% block paramPage %}
    {% for variable in transitionTab.variables %}
        {% if variable.nom == "Paliers" %}
            {{ block ('tableauPalier') }}
        {% elseif variable.nom == "Ingredients" %}           
            {% set ingredients, information, item = ingredientsPrevus, false, "Ingredient" %}
            {{ block ('tableauxIngredients')}}
        {% else %}
            <div class ="card mt-2">
                <div class="card-body row d-flex justify-content-between align-items-center">
                    {% if form is defined and parametre == variable.nom %}
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <h3>{{variable.titre}}
                                {% if variable.unite != '' %}
                                    &nbsp;- (en {{variable.unite | lower}})
                                {% endif %}
                            </h3>
                            {{ form_start (form)}}
                                <div class="card-text d-flex justify-content-end mt-1">
                                    {{form_widget(form[variable.nom])}}
                                    {{form_widget(form.annuler)}}
                                    {{form_widget(form.valider)}} 
                                </div>
                            {{ form_end (form)}}
                        </div>
                    {% else %}
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <h3>{{variable.titre}}&nbsp;:&nbsp;
                                {% if attribute(biere, "get"~ variable.nom) != null %}
                                    {{ attribute(biere, "get"~ variable.nom)}} {{ variable.unite}}
                                {% else %}
                                    {{ variable.action }}
                                {% endif %}
                            </h3>
                            {% if form is not defined %}
                                {# <a class = "mx-3" name="ajouterLink" href="{{ path('parametre', { 'biereId' : biere.id , 'parametre' : variable.nom, 'stateView' : stateView }) }}"> #}
                                <a class = "mx-3" name="ajouterLink" href="{{ path('parametre', { 'biereId' : biere.id , 'parametre' : variable.nom }) }}">
                                    {{variable.action}}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <p class="col-6">{{ variable.helper }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block transition %}
    <div class = "row mt-3">
        <div class ="d-flex justify-content-between align-items-center">
            <h1>{{transitionTab.nom}}</h1>
            {% if form is not defined and biere.state != 0 %}
                {{block('nextButton')}}
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <p>{{transitionTab.description}}</p>
    </div>
    {{ block ('paramPage')}}
    
{% endblock %}

{% block ficheBiere %}
    <div class="row mt-3">
        <h1>Fiche bière</h1>
    </div>
        {% for transition in brassageParam %}
            {% if transition.variables | length != 0 %}
                <div class="card mt-2">
                    <div class="card-body row d-flex justify-content-between align-items-center mt-3">
                        <h2 class="card-title">{{transition.nom}}</h2>
                        <div class = "card-text">
                            {% for variable in transition.variables %}
                                {% if variable.nom == "Paliers" %}
                                    {{ block ('tableauPalier') }}
                                {% else %}
                                    {{variable.titre}} {% if attribute(biere, "get"~variable.nom) != null %} est de {{attribute(biere, "get"~variable.nom)}} {{variable.unite}}.{% else %}: pas de mesure.{% endif %}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {{block('nextButton')}}
{% endblock %}

{% block stopBrassage %}
    Arrêt du brassage
{% endblock %}

{% block processNav %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href = "{{path('indexBiere')}}">Liste des bières</a>
        </li>
        <hr>
        {% if stateView > 1 and stateView <= 7%}
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 2 %}disabled{% endif %} {% if stateView == 2 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 2})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Empatage
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 3 %}disabled{% endif %} {% if stateView == 3 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 3})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Rinçage
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 4 %}disabled{% endif %} {% if stateView == 4 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 4})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Houblonnage
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 5 %}disabled{% endif %} {% if stateView == 5 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 5})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Fermentation
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 6 %}disabled{% endif %} {% if stateView == 6 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 2})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Embouteillage
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link {% if biere.state < 7 %}disabled{% endif %} {% if stateView == 7 %}active{% endif %}" 
                    aria-current="page" 
                    href="{{path('brassageContinue', {'biereId':biere.id, 'stateView': 7})}}">
                    {# href="{{path('brassageContinue', {'biereId':biere.id})}}"> #}
                        Fiche bière
                </a>
            </li>
        {% elseif stateView <=1 %}
            {% if biere.state == 0 and form is not defined %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href = "{{path('retrieveFromStock', {'biereId':biere.id})}}">Décompter les ingrédients du stock</a>
                </li>        
            {% elseif biere.state == 1 and form is not defined %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href = "{{path('replaceInStock', {'biereId':biere.id})}}">Remettre dans le stock</a>
                </li>        
                <li class="nav-item">
                    {# <a class="nav-link" aria-current="page" href = "{{path('brassageFwd', {'biereId':biere.id, 'stateView': 0 })}}">Commencer à brasser</a> #}
                    <a class="nav-link" aria-current="page" href = "{{path('brassageFwd', {'biereId':biere.id })}}">Commencer à brasser</a>
                </li>        
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}

{% block contentsCenter %}
    {{ block ('notification')}}
    {% set transitionTab = attribute(brassageParam, app.session.get('stateView')) %}  
    {# {% if stateView < 7 and stateView >1 or stateView == 0 %} #}
    {% if stateView < 7 %}
        {{ block ('transition') }}
    {# {% elseif stateView == 1 %}
        {{ block ('debutBrassage') }} #}
    {% elseif stateView == 7 %}
        {{ block ('ficheBiere')}}
    {% elseif stateView == 10 %}
        {{ block ('stopBrassage')}}
    {% endif %}
{% endblock %}

{% block contentsRight %}
    {% if stateView <= 7 and stateView >= 0 %}
        {% set alignement = "end" %}
        {{ block ('descriptionBiere')}}
    {% endif %}
    
    
    
{% endblock %}

{% block contentsLeft %}
    {{block ('processNav')}}    
{% endblock %}



