{% extends 'base.html.twig' %}

{% block title %}Je construis ma recette{% endblock %}

{% block contents %}
    <h1 class ="text-center">Le volume final de ma bière</h1>
    <div class ='row'>
        <div class ="col">
            <h2 class ="text-center"></h2>
            {{ form(form) }}               
        </div>
    </div>
{% endblock %}

