{# {% block actionButton %}
    <div class="d-flex justify-content-end align-items-center">                
        <a class="nav-link" href="{{ path( 'remove'~item, {'id' : data.id }) }}">Supprimer</a> | <a class="nav-link" href="{{ path( 'modify'~item, {'id' : data.id}) }}">Modifier</a>
    </div>
{% endblock %} #}

{% block tableau %}
{#
variables à définir: 
- header [nom, larg    =>  valeur de l'unité de largeur, variables [larg   => nombre d'unité de largeur, titre, unite]]
- datas [variables => valeurs]
#}
    {% if button == true %}
        {% set nbCol = header.larg - 1%}
    {% else %}
        {% set nbCol = header.larg %}
    {% endif %}
    <table class ='table table-sm table-striped' id ="tableIngredients">
        <thead>
            <tr>
                {% for variable in header.variables %}
                    <th width ="{{variable.larg}}*90/{{nbCol}}%" class="text-center">{{variable.titre}}</th>
                {% endfor %}
                {% if button == true %}<th width="10%" class="text-end"></th>{% endif %}
            </tr>                    
        </thead>
        <tbody>
            {% for data in datas %}                    
                <tr class="align-middle">
                    {% for variable in header.variables %}
                        <td width ="{{variable.larg}}*90/{{nbCol}}%" class="text-center">{{attribute(data,variable.nom)}}</td>
                    {% endfor %}
                    {% if button == true %}
                        {% block actionButton %}{% endblock %}                        
                    {% endif %}
                </tr>
            {% endfor %}                   
            {% block addForm %}{% endblock %}
        </tbody>
    </table>
{% endblock %}

{% block buttonBlock %}
    {% for button in message.buttons %}
        <a class="badge bg-success {{button.class}}" href = "{{ path(button.path, button.variables) }}" style = "width : 6rem">{{button.titre}}</a>
    {% endfor %}
{% endblock %}


{% block notification %}
    {% if message is defined and message != null %}
    <div class ="alert-{{message.status}} text-center py-3">
        <div class="row">
            <div class="col-1">
            
            </div>
            <div class="col-10">
                {{ message.notification|nl2br }}
                {% if message.buttons != null %}
                    {{block('buttonBlock')}}
                {% endif %}
            </div>
            <div class="col-1">
                {# <a type="button" class="btn-close" aria-label="Close" href ="{{path('brassageEtape', {'biereId':biere.id})}}"></a> #}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block form %}
    {{ form_start(form)}}
        {% for variable in header.variables %}                      
            {{ form_row(attribute(form, variable.nom))}}
        {% endfor %}
        <div class="d-flex justify-content-center mt-2">
            {% block cancelButton %}{% endblock %}
            <div class="mx-1">{{ form_row(form.valider)}}</div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form)}}
{% endblock %}