{#Variables nécessaires:#}
{#'ingredients'       =>  $ingredients,#}
{#'typesOfIngredient' =>  $this->typesOfIngredient,#}
{#'biere'             =>  $biere#}

{% extends 'base.html.twig' %}

{% block title %}Je construis ma recette{% endblock %}

{% block contentsCenterBis %}
    {% for typeIngredient in typesOfIngredient %}
        <h1>{{typeIngredient}}s</h1>
    {% endfor %}
{% endblock %}


{% block contentsCenter %}
    {% if message is defined and message != null %}
        <div class ="alert-{{message.status}} text-center py-3">
            {{ message.notification }}
        </div>
    {% endif %} 

    <div class="BiereId" id="biereId" data-biereId = {{ biere.id }}></div>    
    <h2 id = "titre1" class ="text-center">Le volume final de ma bière</h2>
    <div class="d-flex justify-content-between">
        <div>
            Le volume de ma bière sera de {{ biere.volFinalPrevu }} litres</br>
            {% if biere.state <= 1 %}
                <a href="{{ path("volFinalPrevu", {'biereId' : biere.id}) }}">Modifier</a>
            {% endif %}
        </div>
        <div>
            {% block formState %}{% endblock %}
        </div>
    </div>
               
    {% if form is defined %}
        {{ form_start(form) }}
    {% endif %}

    <h2 id = "titre2" class ="text-center">Les ingrédients de ma bière</h2>
    {% for typeIngredient in typesIngredient %}

        <div class="d-flex justify-content-start align-items-center mt-5">
            <h3 >Les {{ typeIngredient.nom |lower }}s</h3>
            <div  class='mx-3'>
                {% block ajouterLink %}{% endblock %}
            </div>
        </div>    
        {% if ingredients[typeIngredient.nom] | length == 0 %}
            <tr><td><p>Il n'y a pas de {{typeIngredient.nom|lower}} pour cette bière</p></td></tr>
        {% else %}
            <table class ='table table-sm table-striped' id ="tableIngredients">
                <thead>
                    <tr scope = "row" class="d-flex">
                        {% set larg = 100-25 * typeIngredient.variables|length %}
                        {% for variable in typeIngredient.variables %}
                            <th width ="25%">{{variable.titre}}{% if variable.unite != ""%}&nbsp;en&nbsp;{{variable.unite}}{% endif %}</th>
                        {% endfor %}
                        <th width="{{larg}}%"></th>
                    </tr>                    
                </thead>
                <tbody>
                    {% for ingredient in ingredients[typeIngredient.nom] %}                    
                        <tr>
                            {% for variable in typeIngredient.variablesIngredientBiere %}
                                <td width ="25%">{{attribute(ingredient.stock, "get"~ variable.nomVariable)}}</td>
                            {% endfor %}
                            <th width="{{larg}}%"></th>
                        </tr>
                    {% endfor %}                   
                    {% block addForm %}{% endblock %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    
    
    {# {% if notification %}
        <div class="alert alert-danger text-center">
            {{notification}}
        </div>
    {% endif %} #}

    {% if form is defined %}
        {{ form_end(form) }}
    {% endif %}

    {% block saveIngredients %}{% endblock %}

{% endblock %}


{% block contentsLeft %}
{% if biere is defined %}
{% endif %}
{% endblock %}
{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <h1 class="text-center">{{biere.nom}}</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3">
            {% if block('contentsLeft') is defined %}
                {{ block('contentsLeft')}}
            {% endif %}
        </div>        
        <div class="col-lg-6">
            {% if block('contentsCenter') is defined %}
                {{ block('contentsCenter')}}
            {% endif %}
        </div>        
        <div class="col-lg-3">
            {% if block('contentsRight') is defined %}
                {{ block('contentsRight')}}
            {% endif %}
        </div>        
    </div>
{% endblock %}