{% extends 'ingredients/include/base.html.twig' %}

{% block addForm %}
    {% if addTypeIngredient == typeOfIngredient.nom %}
        <div class="justify-content-between">
            <tr class="d-flex">
                <td width="20%">{{ form_row(form.stock) }}</td>
                <td width="20%">{{ form_row(form.quantite) }}</td>
                {% if typeOfIngredient.nom == 'Houblons' or typeOfIngredient.nom == 'Additifs' %}
                    <td width="20%">{{ form_row(form.tempsEbullition) }}</td>
                {% endif %}
                <td class="d-flex flex-row-reverse mb-0">
                    <div class="mx-1">{{ form_row(form.valider) }}</div>
                    <div class="mx-1">{{ form_row(form.annuler) }}</div>
                </td>
            </tr>
    {% endif %}
{% endblock %}

{% block row %}
    <td width="20%">{{ item.stock.nom }}</td>
    <td width="20%">{{ item.quantite }}</td>
    {% if typeOfIngredient.nom == 'Houblons' or typeOfIngredient.nom == 'Additifs' %}
        <td width="20%">{{ item.tempsEbullition }}</td>
    {% endif %}    
{% endblock %}





