{#Variables nécessaires:#}
{#'ingredients'       =>  $ingredients,#}
{#'typesOfIngredient' =>  $this->typesOfIngredient,#}
{#'biere'             =>  $biere#}

{% extends 'ingredients/include/base.html.twig' %}
{#{% include ("ingredients/include.html.twig") %}#}

{% block indexBtnAjouter %}
    <a type="button"
        class="btn btn-sm btn-outline-success"
        href="{{ path('addIngredient', {'typeIngredientId' : typeIngredient.id , 'biereId' : biere.id}) }}">
         Ajouter
     </a>
{% endblock %}

{% block ajouterLink %}
    <a name="ajouterLink" href="{{ path('addIngredient', {'typeIngredientNon' : typeIngredient.nom , 'biereId' : biere.id}) }}" style = "visibility: {% if biere.state > 0 %}hidden{% else %}visible{% endif %}">
         Ajouter
    </a>
{% endblock %}

{% block row %}
    <td width="20%">{{ item.stock.nom }}</td>
    <td width="20%">{{ item.quantite }}</td>
    {% set i = 3 %}
    {% if typeOfIngredient.nom == 'Houblons' or typeOfIngredient.nom == 'Additifs' %}
        <td width="20%">{{ item.tempsEbullition }}</td>
        {% set i = 2 %}
    {% endif %}
    {% if biere.state == 1 %}
        <td  width="{{ i * 20 }}%" >
            <div name = "actionCell" class ="dropdown d-flex justify-content-end" style = "visibility: {% if biere.state >= 1 %}hidden{% else %}visible{% endif %}">
                <div id ="actionDropdown" class ="dropdown flex-fill">
                    <button type ="button" class ="btn btn-outline-success btn-sm dropdown-toggle" data-bs-toggle ="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                        <li>
                            <a type="button" class="dropdown-item" href="{{ path("modifyIngredient", { 'biereId':biere.id,'ingredientId':item.id }) }}">
                                Modifier
                            </a>
                        </li>
                        <li>
                            <a type="button" class="dropdown-item" href="{{ path("removeIngredient", { 'biereId':biere.id,'ingredientId':item.id }) }}">
                                Supprimer
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    {% endif %}
        {# <script src="{{ asset('assets/js/ingredients.js') }}"></script> #}

{% endblock %}

{# {% block formState %}
    {{ form_start(formState) }}
    {{ form_row(formState.ingredientState, {label_attr: {class: 'switch-custom'}}) }}
    {{ form_end(formState) }}            
{% endblock %} #}

{% block saveIngredients %}
<div class="d-flex justify-content-end">
    {% if biere.state == false %}
        <a class="btn btn-outline-success" href = "{{path('retrieveFromStock', {'biereId':biere.id})}}">Décompter les ingrédients du stock</a>
    {% else %}
        <a class="btn btn-outline-success mx-1" href = "{{path('replaceInStock', {'biereId':biere.id})}}">Remettre dans le stock</a>
        <a class="btn btn-outline-success mx-1" href = "{{path('brassageFwd', {'biereId':biere.id, 'stateView': 0 })}}">Commencer à brasser</a>
    {% endif %}
</div>
{% endblock %}

