{% extends 'ingredients/include/base.html.twig' %}

{% block row %}
    <td width="20%">{{ item.stock.nom }}</td>
    {% if  item.id == ingredient.id %}
        <td width="20%">{{ form_row(form.quantite) }}</td>
        {% if typeOfIngredient.nom == 'Houblons' or typeOfIngredient.nom == 'Additifs' %}
            <td width="20%">{{ form_row(form.tempsEbullition) }}</td>
        {% endif %}
        <td width="40%" class="d-flex flex-row-reverse mb-0">
            <div class="mx-1">{{ form_row(form.valider) }}</div>
            <div class="mx-1">{{ form_row(form.annuler) }}</div>
        </td>        
    {% else %}
        <td width="20%">{{ item.quantite }}</td>
        {% if typeOfIngredient.nom == 'Houblons' or typeOfIngredient.nom == 'Additifs' %}
            <td width="20%">{{ item.tempsEbullition }}</td>
        {% endif %}
    {% endif %}
{% endblock %}




