{% extends 'base.html.twig' %}

{% block title %}Mon compte - modifier mon mot de passe{% endblock %}

{% block contents %}


<h2 class="text-center">Modifier mon mot de passe</h2>

{% if notification %}
    <div class="alert alert-danger text-center">
        {{notification}}
    </div>
{% endif %}

{{form(form)}}

<hr>
<a href="{{path('account')}}">Retour à mon compte</a>
</hr>
{% endblock %}
