{% extends 'parametres/include/base.html.twig' %}

{% block title %}La liste de mes types de bière {{subtitle}}{% endblock %}

{% block ajouterLink %}
    <a name="ajouterLink" href="{{ path('addTypeBiere') }}" id="ajouterLink">
         Ajouter
    </a>
{% endblock %}

{% block row %}
    <th width = "20%" scope="row">{{ item.nom }}</th>
    <td width = "80%" class="flex-fill text-right">
        <a class="btn btn-outline-success dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Action</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="{{ path('modifyTypeBiere', {'id' : item.id}) }}">Modifier</a></li>
            <li><a class="dropdown-item" href="{{ path('removeTypeBiere', {'id' : item.id}) }}">Supprimer</a></li>
        </ul>
    </td>
{% endblock %}

