{% extends 'parametres/include/base.html.twig' %}

{% block row %}
    {% if type.id == null %}
        <td width = "100%">{{ item.nom }}</td> 
    {% else %}
        {% if  item.id != type.id %}
            <td width = "100%">{{ item.nom }}</td> 
        {% endif %}
    {% endif %}        
{% endblock %}