<!doctype html>
<html lang="fr">
{% use "includes/include.html.twig" %}
{# {% use "includes/classes.html.twig" %} #}
{# {% set buttonShape = "btn btn-outline-warning" %} #}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> #}
{#    <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">#}
{#    <meta name="generator" content="Hugo 0.79.0">#}
    {%set siteName = "My 8eers"%}
    
    <title>My 8eers</title>

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
                <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
    {% endblock %}
    <!-- Bootstrap core CSS -->
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> #}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" href ={{ path('home') }}>
            <img src={{ asset('build/Logo_bière.svg') }} style="width : 50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('indexBiere') }}>Ma brasserie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('indexStock') }}>Mes stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les recettes existantes</a>
                </li>
            </ul>
            <div class="nav-item text-dark d-flex align-items-center mb-2 mb-lg-0">
                {% if app.user %}
                    <a class="nav-link text-dark" href = "{{path('account')}}">Mon compte <small>({{app.user.username}})</small></a> | <a class="nav-link text-dark" href = "{{path('app_logout')}}">Déconnexion</a>
                {% else %}
                    <a class="nav-link text-dark" href = "{{path('app_login')}}">Connexion</a> | <a class="nav-link text-dark" href = "{{path('inscription')}}">Inscription</a>
                {% endif %}                   
            </div>
        </div>

        {# <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <a class="navbar-brand" href ={{ path('home') }}>
                My-8eers
            </a>
            <ul class="navbar-nav">
                <li class="nav-pill">
                    <a class="nav-link active" aria-current="page" href={{ path('home') }}>Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('indexBiere') }}>Ma brasserie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('indexStock') }}>Mes stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les recettes existantes</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="nav-item">
                {% if app.user %}
                    <a  href = "{{path('account')}}">Mon compte <small>({{app.user.username}})</small></a> | <a href = "{{path('app_logout')}}">Déconnexion</a>
                {% else %}
                    <a  href = "{{path('app_login')}}">Connexion</a> | <a  href = "{{path('inscription')}}">Inscription</a>
                {% endif %}                   
            </div>
        </div> #}
    </div>
</nav>




  {# <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <a class="dropdown-item" href="#">New project...</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Settings</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Profile</a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="#">Sign out</a>
      </li>
    </ul>
  </div>
</div> #}

 {# style ="background : #198454"> #}


{# <nav class="navbar sticky-top navbar-expand-md navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}" >
                <img src="{{ asset('build/Logo_bière.svg') }}" style ="height: 75px"  alt="logo 8eers">
                My 8eers
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{{path('indexBiere')}}">Ma brasserie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('indexStock')}}">Mon stocke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Recettes existante</a>
            </li>
        </ul>

            {% if app.user %}                
                <div class = "d-flex flex-row align-items-center "><a  class = "nav-link" href = "{{path('account')}}">Mon compte <small>({{app.user.Username}})</small></a> | <a class = "nav-link" href = "{{path('app_logout')}}">Déconnexion</a></div>
            {% else %}
                <a  class = "nav-link" href = "{{path('app_login')}}">Connexion</a> | <a  class = "nav-link" href = "{{path('inscription')}}">Inscription</a>
            {% endif %}
    </div>
</nav> #}


<div class="container-fluid">
    {# <aside>
        <div class="d-flex flex-column p-3 text-dark bg-warning" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src={{ asset('build/Logo_bière.svg') }} style="width : 50px">
                <span class="fs-4">My-8eers</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href={{ path('home') }}>
                        <i class="fas fa-home"></i>
                        Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href={{ path('indexBiere') }}>
                        <i class="fas fa-beer"></i>
                        Ma brasserie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href={{ path('indexStock') }}><i class="fas fa-warehouse"></i>Mes stocks</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="#"><i class="fas fa-blender"></i>Les recettes existantes</a>
                </li>
            </ul>
        </div>
    </aside> #}
    <main>
        {% block contents %}{% endblock %}
    </main>
</div>




<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> #}
<script>
    var pathname = window.location.pathname;
    console.log(pathname);
    pages = ['brasserie', 'stock','recettes'];

    document.getElementsByClassName('nav-link').foreach(function(i) {
    if (pathname.includes(pages[i])) this.addClass('active');
    else if (this.className.includes('active')) this.removeClass('active');
    });
</script>
</body>
</html>
