{% extends 'base.html.twig' %}

{% block title %}My-8eers{% endblock %}

{% block contents %}
        {% if messageId == 1 %}
            <div class="alert alert-danger">
                Des bières utilisent cet ingrédient:</br>
                {{ ingredient.nom }}
            </div>
            <p>
                <a href="{{ path('viewStock', {'ingredientType': ingredientType} )}}" >
                    Retour à la liste des {{ ingredientType|lower }}.
                </a>
            </p>
        {% endif %}
{% endblock %}
