{% extends 'base.html.twig' %}

{% block title %}My 8eers - Les stocks{% endblock %}

{% block contents %}
    <h1 class="text-center">Mes stocks</h1>

    <div class="row">
    {% for ingredientType in ingredientTypes %}
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Les {{ingredientType.nom}}s</h5>
                    {# <p class="card-text">{{typeOfStock.description}}</p> #}
                    <p class="card-text">/!\Les {{ingredientType.nom}}s/!\</p>
                    <a href="{{ path('viewStock', {'ingredientType': ingredientType.nom } ) }}" class="btn btn-success">Mes {{ingredientType.nom}}s</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Les matériels</h5>
                    {# <p class="card-text">{{typeOfStock.description}}</p> #}
                    <p class="card-text">/!\Les matériel}s/!\</p>
                    <a href="#" class="btn btn-success">Mes matériels</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
