{% extends 'base.html.twig' %}
{% use 'includes/include.html.twig' %}

{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2">
            {% if block('contentsLeft') is defined %}
                {{ block('contentsLeft')}}
            {% endif %}
        </div>        
        <div class="col-lg-8">
            {% if block('contentsCenter') is defined %}
                {{ block('contentsCenter')}}
            {% endif %}
        </div>        
        <div class="col-lg-2">
            {% if block('contentsRight') is defined %}
                {{ block('contentsRight')}}
            {% endif %}
        </div>        
    </div>
{% endblock %}