{% extends 'stock/stockBase.html.twig' %}

{% block title %}Bienvenue sur My 8eers{% endblock %}

{% block contentsCenter %} 
    <h1 class="text-center">Le registre de stock pour {% if stock.typeIngredient == "levure" %} la {% else %} le  {% endif %} {{stock.typeIngredient}} "{{stock.nom|lower}}"</h1>

    <table class ='table table-sm table-striped' id ="tableRegister">
        <thead>
            <tr>
                {% for variable in headers %}
                    <th class="text-center">{{variable.titre}}</th>
                {% endfor %}
            </tr>                    
        </thead>
        <tbody>
            {% for data in register %}                    
                <tr class="align-middle">
                    {% for variable in headers %}
                        <td class="text-center">
                            {% if variable.nom == "dateLog" %}
                                {{ attribute(data,variable.nom) | date("d/m/Y h:m:s") }}
                            {% else %}
                                {{attribute(data,variable.nom)}}                                
                            {% endif %}
                      </td>
                    {% endfor %}
                    
                </tr>
            {% endfor %}                   
        </tbody>
    </table>     
{% endblock %}

{% block contentsLeft %}
    <ul class="nav flex-column">
        {% for type in ingredientTypes %}
            <li class="nav-item">
                <a  class="nav-link {% if ingredientType == type.nom %}active{% endif %}" 
                    aria-current="page" 
                    href="{{ path('viewStock', {'ingredientType': type.nom } ) }}" class="btn btn-success">
                        Mes {{type.nom}}s                    
                </a>
            </li>
        {% endfor %}        
    </ul>    
{% endblock %}

{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2">
            {% if block('contentsLeft') is defined %}
                {{ block('contentsLeft')}}
            {% endif %}
        </div>        
        <div class="col-lg-8">
            {% if block('contentsCenter') is defined %}
                {{ block('contentsCenter')}}
            {% endif %}
        </div>        
        <div class="col-lg-2">
            {% if block('contentsRight') is defined %}
                {{ block('contentsRight')}}
            {% endif %}
        </div>        
    </div>
{% endblock %}