{% extends 'stock/stockBase.html.twig' %}

{% block actionButton %}
    {% if stock == null %}
        <td width="10%" >
            <div class="d-flex justify-content-center">
                <a class="nav-link" href="{{ path( 'remove'~item, {'id' : data.id }) }}">
                    <i class="bi-trash text-dark"></i>
                </a>
                <a class="nav-link" href="{{ path( 'modify'~item, {'id' : data.id}) }}">
                    <i class="bi-pencil text-dark"></i>
                </a>
                <a class="nav-link" href="{{ path( 'viewOneStockRegister', {'stockId' : data.id}) }}">
                    <i class="bi-pencil text-dark"></i>
                </a>
                <a class="nav-link text-dark" id="modalListElt" data-bs-toggle="modal" data-bs-target="#modalPage" data-ingredient-id="{{ data.id }}">Quantités</a>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block cancelButton %}
    <a class="mx-1 btn btn-outline-success" href="{{path('viewStock', {'ingredientType':ingredientType})}}">Annuler</a>
{% endblock %}


{% block title %}Mon stock{% endblock %}

{% block formulaire %}
    {% if stock != null %}
        <div class = "row justify-content-center mt-3">
            <div class="col-4 text-center" >
                <h2>{% if stock is defined and stock.id == null %}Ajouter{% else %}Modfier{% endif %}{% if stock.typeIngredient == 'Levure' %}&nbsp;une{% else %}&nbsp;un{% endif %}&nbsp;{{stock.typeIngredient|lower}}</h2>
                {{ block('form')}}
            </div>
        </div>
        <hr>
    {% endif %}
{% endblock %}

{% block contentsCenter %}
    {% if notification is defined and notification != null %}
        <div class ="alert-{{status}} text-center py-3">
            {{ notification }}
        </div>
    {% endif %} 
    
    <h1 class="text-center">Les {{ ingredientType|lower }}s</h1>
   
    {% if form is defined and stock != null %}
        {{ block('formulaire')}}
        <h2 class = "mt-3">Les autres {{ingredientType|lower}}s déjà en stock</h2>
    {% else %}
        <div class="d-flex justify-content-between align-items-center mt-3">
            <h2 class="text-center">L'état de mon stock</h2>
            <div  class='mx-3'>
                <a class="btn btn-outline-success" name="ajouterLink" href="{{ path('addStock', {'ingredientType' : ingredientType}) }}" id="ajouterLink">
                    Ajouter
                </a>
            </div>
        </div>
    {% endif %}
    {% if datas|length == 0 %}
        <p class = "text-center">Vous n'avez pas de  {{ ingredientType | lower }} en stock</p>
    {% else %}
        {% set button, item = true, "Stock" %}
        {{ block('tableau')}}
    {% endif %}

    {{ block('modal')}}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('stock') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('stock') }}
    {% endblock %}
{% endblock %}

{% block contentsLeft %}
    <ul class="nav flex-column">
        {% for type in ingredientTypes %}
            <li class="nav-item">
                <a  class="nav-link {% if ingredientType == type.nom %}active{% endif %}" 
                    aria-current="page" 
                    href="{{ path('viewStock', {'ingredientType': type.nom } ) }}" class="btn btn-success">
                        Mes {{type.nom}}s                    
                </a>
            </li>
        {% endfor %}        
    </ul>    
{% endblock %}

{% block contents %}
    {% set stateView = app.session.get('stateView') %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-2">
            {% if block('contentsLeft') is defined %}
                {{ block('contentsLeft')}}
            {% endif %}
        </div>        
        <div class="col-lg-8">
            {% if block('contentsCenter') is defined %}
                {{ block('contentsCenter')}}
            {% endif %}
        </div>        
        <div class="col-lg-2">
            {% if block('contentsRight') is defined %}
                {{ block('contentsRight')}}
            {% endif %}
        </div>        
    </div>
{% endblock %}

{% block modal %}
    {% if form is defined and stock == null %}
    <div class="modal fade" tabindex="-1" id="modalPage">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="modalMenuLabel">
                        Modifier les quantités en stock
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                
                    {{ form_start(form) }}
                    <div class="container">
                        <div class="row">
                            <h5 class="text-center">Rajouter ou enlever</h5>
                        </div>
                        <div class="row mt-3">
                            <div class="d-flex justify-content-between">
                                {{ form_row(form.quantityDown) }}
                                {% if ingredientType == 'malt' %}
                                    {{ form_row(form.quantity, {'attr': {'placeholder':'En Kg' }}) }}
                                {% else %}
                                    {{ form_row(form.quantity, {'attr': {'placeholder': 'En g'}}) }}
                                {% endif %}                                
                                {{ form_row(form.quantityUp) }}
                            </div>
                        </div>
                        <hr>
                        <div class ="row mt-3 text-center">
                            {{ form_row(form.toZero) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
