{% extends 'base.html.twig' %}

{% block title %}Les types de bière{% endblock %}
{% block contents %}
    {% if notification is defined and notification != null %}
        <div class ="alert-{{status}} text-center py-3">
            {{ notification }}
        </div>
    {% endif %}
    <h1 class="text-center">Mes types de bière</h1>    
    {% if form is defined %}
        <h3 class ="mt-5" >Le type de bière que vous voulez {% if type is defined and type.id == null %} ajouter {% else %} modfier {% endif %}</h3>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        <div class="d-flex justify-content-end">    
            <div class="mx-1 ">{{ form_row(form.annuler) }}</div>            
            <div class="mx-1 ">{{ form_row(form.valider) }}</div>
        </div>
        {{form_end(form)}}
        <hr>
    {% endif %}
    <div class="d-flex justify-content-start align-items-center mt-5">
        {% if type is defined %}
            <h3 >Les autres types de bière déjà définis</h3>
        {% else %}
            <h3 >Les types de bières</h3>
        {% endif %}
        <div  class='mx-3'>
            {% block ajouterLink %}{% endblock %}
        </div>
    </div>
    <table class="table table-sm table-striped mt-3" id ="tableTypesBiere">
        <thead>
            <tr scope = "row" class="d-flex">
                <th width = "20%">Nom</th>
                <th width = "80%" class="flex-fill text-right"></th>
            </tr>
        </thead>
        <tbody>
        {% for item in types %}        
            <tr id ="ligne{{item.id}}" class="d-flex" data-ligne={{item.id}}>
                {% block row %}{% endblock %}                                
            </tr>
        {% endfor %}
        </tbody>
    </table>        
{% endblock %}